<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if(errors.env){ %>
    <div style="margin: 50px"></div>
      <h3>Error Message: <%= errors.message %></h3>
      <h7> Error State: <%= errors.status %> </h7>
      <ul>
        <% for(let err = 0; err < errors.list.length; err++ ){ %>
        <li><%= errors.list[err] %></li>
        <% } %>
      </ul>
    </div>
    <%} else{ %>
        <h3 style="margin-left: 100px;"><%= errors.message %></h3>
    <% } %>
  </body>
</html>
